out/
out2/
.bloop/
.bsp/

# Python items related to pygments lexer
__pycache__/
*.egg-info/
.venv

# Fuzz test output
fuzz_output/

# TLA+ toolbox stuff
*.toolbox/

# Tests artifacts in case of failure
*.outpcal

# macOS files:
.DS_Store

test/files/**/*.txt

.vscode/

# TLA+ translation files
*.old
*.out

.metals/
.scala-build/

/.tools/
_apalache-out/
states/
/.cache/

*.wal
*.tmp/
*.lock

compile_commands.json
.cache/

/*.bin
/*.jar
/*.zip