!**/traces_found/**/*.log
**/traces_found/**/*.tla
**/traces_found/**/*.cfg
**/traces_found/**/*.bin

!**/traces_found_1/**/*.log
**/traces_found_1/**/*.tla
**/traces_found_1/**/*.cfg
**/traces_found_1/**/*.bin

!**/traces_found_3/**/*.log
**/traces_found_3/**/*.tla
**/traces_found_3/**/*.cfg
**/traces_found_3/**/*.bin