name: CI

on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ 'main' ]

jobs:
  format_src_check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - run: ./format_src_check.sh
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: ['11', '21']
        golang-version: ['1.22', '1.23']

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version: ${{ matrix.golang-version }}
    - uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java-version }}
    - name: 'Run tests'
      run: ./mill __.compile + pgo.test
